{% extends 'base.html.twig' %}

{% block title %}COPAVIA{% endblock %}

{% block body %}
<main>
    <!-- section -->
    <section class="my-lg-14 my-8">
        <!-- container -->
        <div class="container">
            <div class="row">
                <!-- col -->
                <div class="offset-lg-2 col-lg-8 col-12">

                    <div class="mb-8">

                        <!-- heading -->
                        <section class="mt-8">
                            <!-- contianer -->
                            <div class="container">
                                <h1 style="color: #ff914d; font-family: Bodoni MT; font-weight: bold">Je voyage</h1><br>
                                <div class="row">
                                    <!-- col -->
                                    <div class="col-12">
                                        <!-- cta -->
                                        <div class="bg-light d-lg-flex justify-content-between align-items-center py-6 py-lg-3 px-8 rounded-3 text-center text-lg-start">
                                            <!-- text -->

                                            <div class="ms-lg-4">
                                                <h3 style="font-family: Bodoni MT">Pour nous permettre d’évaluer votre rentabilité, entrez les informations de votre voyage.<br>
                                                    <br> Nous vous contacterons dans les plus brefs délais.</h3><br>
                                                <p style="font-family: Bodoni MT ; font-size: 20px">Il est préferable de nous contacter avant l'achat de vore billet d'avion, pour une optimisation de votre temps.</p><br>
                                            </div>

                                        </div>

                                    </div>
                                </div>

                            </div>

                        </section> <br><br>
                    </div>
                        <!-- form -->
                    {% if notification %}
                        <div class=" alert alert-info" style="color: #070000  ; font-size: 26px ;  font-family: Bodoni MT">{{ notification }}</div>
                    {% endif %}
                        {{ form_start(form) }}
                        <div class="row g-3">
                            <!-- col -->
                            <div class="col-md-6 mb-3" style="font-family: Bodoni MT; color: black; font-size: 25px">
                                {{ form_label(form.prenom) }}
                                {{ form_widget(form.prenom , {'attr':{'class':'form-control', 'style' : 'font-family: Bodoni MT'}}) }}
                                {{ form_errors(form.prenom) }}
                            </div>
                            <div class="col-md-6 mb-3"style="font-family: Bodoni MT; color: black; font-size: 25px">
                                {{ form_label(form.nom) }}
                                {{ form_widget(form.nom , {'attr':{'class':'form-control', 'style' : 'font-family: Bodoni MT'}}) }}
                                {{ form_errors(form.nom) }}
                            </div>
                            <div class="col-md-6 mb-3"style="font-family: Bodoni MT; color: black; font-size: 25px">
                                {{ form_label(form.villeDepart) }}
                                {{ form_widget(form.villeDepart, {'attr':{'class':'form-control', 'style' : 'font-family: Bodoni MT'}}) }}
                                {{ form_errors(form.villeDepart) }}
                            </div>

                            <div class="col-md-6 mb-3"style="font-family: Bodoni MT; color: black; font-size: 25px">
                                {{ form_label(form.villeArrivee) }}
                                {{ form_widget(form.villeArrivee, {'attr':{'class':'form-control', 'style' : 'font-family: Bodoni MT'}}) }}
                                {{ form_errors(form.villeArrivee) }}
                            </div>
                            <div class="col-md-6 mb-3"style="font-family: Bodoni MT; color: black; font-size: 25px">
                                {{ form_label(form.dateHeureDepart) }}
                                {{ form_widget(form.dateHeureDepart , {'attr':{'class':'form-control', 'style' : 'font-family: Bodoni MT'}}) }}

                            </div>
                            <div class="col-md-6 mb-3"style="font-family: Bodoni MT; color: black; font-size: 25px">
                                {{ form_label(form.dateHeureArrivee) }}
                                {{ form_widget(form.dateHeureArrivee, {'attr':{'class':'form-control', 'style' : 'font-family: Bodoni MT', '' : '(jj/mm/aaaa)'}}) }}

                            </div>
                            <div class="col-md-6 mb-3"style="font-family: Bodoni MT; color: black; font-size: 25px">
                                {{ form_label(form.compagnieDeVoyage) }}
                                {{ form_widget(form.compagnieDeVoyage, {'attr':{'class':'form-control', 'style' : 'font-family: Bodoni MT'}}) }}
                                {{ form_errors(form.compagnieDeVoyage) }}
                            </div>
                            <div class="col-md-6 mb-3"style="font-family: Bodoni MT; color: black; font-size: 25px">
                                {{ form_label(form.kiloDisponible) }}
                                {{ form_widget(form.kiloDisponible, {'attr':{'class':'form-control', 'style' : 'font-family: Bodoni MT'}}) }}
                                {{ form_errors(form.kiloDisponible) }}
                            </div>
                            <div class="col-md-12 mb-3"style="font-family: Bodoni MT; color: black; font-size: 25px">
                                {{ form_label(form.numero) }}
                                {{ form_widget(form.numero , {'attr':{'class':'form-control', 'style' : 'font-family: Bodoni MT'}}) }}
                                {{ form_errors(form.numero) }}
                            </div>
                            <div class="col-12 d-grid"style="font-family: Bodoni MT">
                                {{ form_widget(form.Submit, {'attr' : { 'class' : 'btn btn-primary' , 'style' : 'background : #ff914d ; font-size: 25px'} }) }}
                            </div>
                        </div>

                        {{ form_end(form) }}
                </div>
            </div>
        </div>

    </section>
</main>

{% endblock %}
